<template>
  <div class="pb-12">

    <Header/>

    <MentorCarousel/>

  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Header from '@/components/home/Header.vue';
import MentorCarousel from '@/components/home/MentorCarousel.vue';

export default Vue.extend({
  name: 'Home',
  components: { MentorCarousel, Header },
})
</script>
