<template>
  <div
      id="header"
      class="d-flex flex-column align-start justify-center"
      style="max-width: 650px; line-height: 1.2"
  >
    <h1
        class="text-h4 text-md-h3 font-weight-bold"
    >Find, Book and Meet Mentors around the world.
    </h1>
    <p class="mt-4 text-subtitle-1">
      Get virtual mentorship from over 1,756+ mentors from the world’s leading companies in our global community.
    </p>

    <v-form class="d-flex align-center" style="width: 100%" @submit.prevent="searchMentors">
      <v-text-field
          v-model="mentorName"
          label="Search for mentors, roles, or companies"
          style="width: 100%; max-width: 23rem"
          type="text"
      />

      <v-btn class="ml-5" color="primary" large type="submit">Search</v-btn>
    </v-form>
  </div>
</template>

<script lang="ts">
export default {
  name: 'Header',
  data: (): any => ({
    mentorName: ''
  }),
  methods: {
    searchMentors(): void {
      console.log(this)
    }
  }
}
</script>

<style lang="scss" scoped>
#header {
  min-height: 28rem;
  display: flex;
}
</style>
