<template>
  <div>
    <div class="justify-space-between align-center mb-6 d-none d-md-flex">
      <h3 class="text-h6 text-md-h5  font-weight-bold">Book the world's best mentors</h3>
      <v-btn class="font-weight-bold" outlined>Explore All</v-btn>
    </div>

    <Swiper
        :options="swiperOptions"
    >
      <SwiperSlide
          v-for="(mentor, i) in mentors"
          :key="i"
      >
        <v-card class="mb-1 mx-auto" max-width="270px">
          <v-img
              :src="mentor.img"
              height="250"
          />
          <v-card-title>
            {{ mentor.name }}
          </v-card-title>
          <v-card-subtitle>
            {{ mentor.role }}
          </v-card-subtitle>
        </v-card>
      </SwiperSlide>
    </Swiper>


    <div class="d-flex justify-center mt-6">
      <v-btn class="font-weight-bold d-md-none mx-auto" color="primary" large>Explore All Mentors</v-btn>
    </div>
  </div>

</template>

<script lang="ts">
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import 'swiper/swiper-bundle.css'

export default {
  components: {
    Swiper, SwiperSlide
  },
  data: (): any => ({
    mentors: [
      {
        name: 'Martin Fowler',
        role: 'Chief Scientist',
        company: 'Thoughtworks',
        img: 'https://images.unsplash.com/photo-1552058544-f2b08422138a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=944&q=80'
      },
      {
        name: 'Mike Schroepfer',
        role: 'Chief Technology Officer',
        company: 'Facebook',
        img: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80'
      },
      {
        name: 'Martin Fowler',
        role: 'Chief Scientist',
        company: 'Thoughtworks',
        img: 'https://images.unsplash.com/photo-1552058544-f2b08422138a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=944&q=80'
      },
      {
        name: 'Mike Schroepfer',
        role: 'Chief Technology Officer',
        company: 'Facebook',
        img: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80'
      },
      {
        name: 'Martin Fowler',
        role: 'Chief Scientist',
        company: 'Thoughtworks',
        img: 'https://images.unsplash.com/photo-1552058544-f2b08422138a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=944&q=80'
      },
      {
        name: 'Mike Schroepfer',
        role: 'Chief Technology Officer',
        company: 'Facebook',
        img: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80'
      },
    ],

    swiperOptions: {
      spaceBetween: 30,
      freeMode: true,
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 1,
          spaceBetween: 0,
          centerInsufficientSlides: true,
          centeredSlides: true,
        },
        // when window width is >= 480px
        580: {
          slidesPerView: 2,
          spaceBetween: 30
        },
        // when window width is >= 640px
        960: {
          slidesPerView: 3,
          spaceBetween: 40
        },
        1240: {
          slidesPerView: 4,
          spaceBetween: 40
        },
        1720: {
          slidesPerView: 5,
          spaceBetween: 20
        }
      }
    }
  })
}
</script>
