<template>
  <v-app>
    <v-app-bar
        absolute color="#fff"
        elevate-on-scroll flat
    >
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title>Tecc Mentors</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
    >
    </v-navigation-drawer>

    <div style="height: 4rem">

      <v-container class="mx-auto pt-16">
        <router-view/>
      </v-container>

      <Footer/>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Footer from '@/components/globals/Footer.vue';

export default Vue.extend({
  name: 'App',
  components: { Footer },
  data: () => ({
    drawer: false
  }),
});
</script>

<style>
* {
  font-family: Poppins, sans-serif;
  max-width: 100%;
}
</style>
