<template>
  <v-footer height="4rem">
    <v-container class="py-8">
      <span class="text-caption text-sm">
        Copyright 2021 - <a href="https://rvalessandro.com">rvalessandro</a>
        &
        <a href="https://systeric.com">systeric</a></span>
    </v-container>
  </v-footer>
</template>
